#aritmatic operations

In [1]:
import pandas as pd 
var = pd.DataFrame({"A":[1,3,6,4],"b":[6,7,9,8]})
var

   A  b
0  1  6
1  3  7
2  6  9
3  4  8

In [2]:
var["c"]=var["b"]+var["A"]
var

   A  b   c
0  1  6   7
1  3  7  10
2  6  9  15
3  4  8  12

In [3]:
var["c"]=var["b"]-var["A"]
var

   A  b  c
0  1  6  5
1  3  7  4
2  6  9  3
3  4  8  4

In [4]:
var["c"]=var["b"]*var["A"]
var

   A  b   c
0  1  6   6
1  3  7  21
2  6  9  54
3  4  8  32

In [5]:
var1 = pd.DataFrame({"A":[11,32,61,400],"b":[62,71,99,87]})
var1

     A   b
0   11  62
1   32  71
2   61  99
3  400  87

In [9]:
var1["python"]=var1["A"]<=40
var1["yohoho"]=var1["b"]>=72
var1

     A   b  python  yohoho
0   11  62    True   False
1   32  71    True   False
2   61  99   False    True
3  400  87   False    True